#place{
    font-size: xx-large;
    color: whitesmoke;

    text-align: center;
    
    

}
.images{
    text-align: center;
    display: block;

    
}

.heading{
    font-size: xx-large;
    color: whitesmoke;
    text-align: center;
}
.paragraph{
    font-size: large;
    color: white;


    
}
*{
    background-color: gray;
}
.height{
    width: 400px;
    height: 500px;
}